html {
    padding-left: 160px;
}

.jumbotron {
    background: white;
}

#header {
    max-width: 80%;
   font-size: 75px;
   font-family: 'Roboto Condensed', sans-serif;
   padding-left: 350px;
}


#l15 {
    background: red;
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: navy;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: lightgrey;
  }

  footer {
    background: black;
    height: 250px;
  }

  .garagePics {
    border: 15px solid navy;
    background: lightgrey;
  }

  .card-title {
    color: grey;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
  }

  #selectionIntro {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
  }

  .selectionFilters{
    font-family: 'Roboto Condensed', sans-serif;
    border: 15px solid red;
    background: lightgrey;
  }
 
  .inventory {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .modelName {
    font-weight: bold;
  }

  .card-body {
    text-align: center;
    background: lightgrey;
    font-size: 15px;
  }